<!DOCTYPE html>
{% extends 'core/base_admin.html' %}
{%load static %}
{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <div>
                <h3 class="m-0 font-weight-bold text-primary">Módulo de Encuestas                    <span style="margin-left: 10px;">
                    <a href="/media/MODULO%20ENCUESTA.pdf" download>
                        <i class="fas fa-file-pdf fa-lg" title="Descargar Manual"></i>
                    </a>
                </span>
            </h3></h3>
                <h6 class="m-0 font-weight-bold text-primary">Listado de Encuestas Activas</h6>
            </div>
<!-- Botón para dispositivos grandes (lg) y más grandes -->
<div style="margin-left: 1px;" id="btn-container" class="d-none d-lg-inline d-md-flex">
    <a class="btn btn-primary mx-2" style="min-width: 80px; width: 180px;" href="{% url 'poll_add' %}">Crear</a>
    <a class="btn btn-primary mx-2" style="min-width: 80px; width: 180px;"
        href="{% url 'poll_list_deactivate' %}">Desactivas</a>
    <a class="btn btn-primary mx-2" style="min-width: 80px; width: 180px;" href="{% url 'poll_list_create' %}">En Creación</a>

</div>

        </div>
                    <!-- Botón para dispositivos pequeños (md) y más pequeños -->
                    <div class="d-lg-none mt-3 text-center">
                        <a class="btn btn-primary d-block mx-auto mb-3 text-center" href="{% url 'poll_add' %}">Crear</a>
                        <a class="btn btn-primary d-block mx-auto mb-3 text-center"
                            href="{% url 'poll_list_deactivate' %}">Desactivas</a>
                        <a class="btn btn-primary d-block mx-auto mb-3 text-center" href="{% url 'poll_list_create' %}">En
                        Creación</a>
        
                    </div>
        <div class="card-body">
            <div class="d-flex justify-content-end mb-3">
                <div class="input-group" style="width: 200px;">
                    <input type="text" id="searchInput" class="form-control form-control-sm" placeholder="Buscar">
                    <div class="input-group-append">
                        <span class="input-group-text" id="searchIcon"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo Incidencia</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Contenido de la lista de encuestas activas -->
                        {% for pa in poll_activate_list%}
                        <tr>
                            <td>{{pa.name}}</td>
                            <td>{{pa.incident}}</td>
                            <td class="text-end " style="white-space: nowrap;">
                                <!-- Cambios en el enlace "Ver" -->
                                <a href="{% url 'poll_view' pa.id %}"
                                    class="btn btn-sm btn-secondary me-2 mb-2 w-sm-auto mb-sm-0 btn-ver" title="Ver Encuesta">
                                    <i class="fas fa-eye fa-lg me-1"></i>
                                </a>
                                <!-- Cambios en el botón "Desactivar" -->
                                <button
                                    class="btn btn-sm btn-danger me-2 mb-2 mb-sm-0 d-sm-inline-block w-sm-auto btn-desactivar" title="Desactivar Encuesta"
                                    onclick="mostrarModal(this)" data-element-id="{{ pa.id }}">
                                    <i class="fas fa-lock fa-lg me-1"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            <!-- Paginación -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end mt-3">
                    {% if poll_activate_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ poll_activate_list.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <span class="page-link">
                            Página {{ poll_activate_list.number }} de {{ poll_activate_list.paginator.num_pages }}.
                        </span>
                    </li>

                    {% if poll_activate_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ poll_activate_list.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ poll_activate_list.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            </div>

        </div>
    </div>
</div>
<!-- Modal de Advertencia -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Encuesta</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>¿Desea desactivar esta encuesta?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="blockButton" type="button" class="btn btn-danger"
                    onclick="desactivarEncuesta()">Desactivar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Llamada del footer -->
{% include 'core/footer.html' %}
</div>
</div>
<script>
    // Define la URL
    var baseUrl = '{% url "poll_block" 0 %}';
</script>
<script src="{% static '/registration/js/activate.js' %}"></script>
</body>
</html>
{% endblock %}