<!DOCTYPE html>
{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}

{% endblock %}
    <div class="container-fluid">
        Usuarios Activos
        <ul>
            <li><a href="{% url 'administrator_users_new' %}">Nuevo usuario</a></li>
            {% for g in groups %}
                <li>
                    <a href="{% url 'administrator_users_list_active' g.id %}">Usuarios activos {{g.name}}</a>
                </li>
            {% endfor %}
            <li><a href="{% url 'administrator_users_main' %}">Volver</a></li>
        </ul>
    </div>
{% endblock %}
