<!DOCTYPE html>
{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
            </div>
        </div> 
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <div>
                <h3 class="m-0 font-weight-bold text-primary">Creación de Dirección</h3>
            </div>
        </div>
        <div class="card-body">
            <!-- Formulario para dispositivos no móviles -->
            <form method='post' action='{% url 'management_add' %}' class="d-none d-md-block">
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col-4">
                        <label for="management_name">Nombre Dirección:</label>
                        <input type="text" class="form-control" id="management_name" name="management_name" required/>
                    </div>
                    <div class="col-4">
                        <label for="management_in_charge">Encargado Dirección:</label>
                        <input type="text" class="form-control" id="management_in_charge" name="management_in_charge" required/>
                    </div>
                    <div class="col-4">
                        <label for="management_in_charge_mail">Correo Encargado:</label>
                        <input type="email" class="form-control" id="management_in_charge_mail" name="management_in_charge_mail" required/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="width: 120px; height: 40px; margin-top: 5px;">Crear</button>
            </form>
        
            <!-- Formulario para dispositivos móviles -->
            <form method='post' action='{% url 'management_add' %}' class="mb-2 d-md-none">
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col-12">
                        <label for="management_name">Nombre Dirección:</label>
                        <input type="text" class="form-control" id="management_name" name="management_name" required/>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <label for="management_in_charge">Encargado Dirección:</label>
                        <input type="text" class="form-control" id="management_in_charge" name="management_in_charge" required/>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <label for="management_in_charge_mail">Correo Encargado:</label>
                        <input type="email" class="form-control" id="management_in_charge_mail" name="management_in_charge_mail" required/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Crear</button>
            </form>
        </div>
        
    </div>
    <!-- Lista de direcciones -->   
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <div>
                
                    <h3 class="m-0 font-weight-bold text-primary">Módulo de Direcciones                   
                        <span style="margin-left: 10px;">
                        <a href="/media/M%C3%93DULO%20DIRECCI%C3%93N_0rPlYPL.pdf" download>
                            <i class="fas fa-file-pdf fa-lg" title="Descargar Manual"></i>
                        </a>
                    </span>
                    </h3>
    
                <h6 class="m-0 font-weight-bold text-primary">Listado de Direcciones Activas</h6>
            </div>
            <!-- Botón para dispositivos grandes (lg) y más grandes -->
            <div style="margin-left: 1px;" id="btn-container" class="d-none d-lg-inline">
                <a class="btn btn-primary" style="min-width: 80px; width: 180px;" href="{% url 'management_list_block' %}">Desactivas</a>
            </div>
        </div>
                            <!-- Botón para dispositivos pequeños (md) y más pequeños -->
                            <div class="d-lg-none mt-3">
                                <a class="btn btn-primary d-block mx-auto" href="{% url 'management_list_block' %}">Desactivas</a>
                            </div>
        <div class="card-body">
            <div class="d-flex justify-content-end mb-3">
                <div class="input-group" style="width: 200px;">
                    <input type="text" id="searchInput" class="form-control form-control-sm" placeholder="Buscar">
                    <div class="input-group-append">
                        <span class="input-group-text" id="searchIcon"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="40%">Nombre dirección</th>
                                <th width="15%">Encargado</th>
                                <th width="30%">Correo</th>
                                <th width="15%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- Contenido de la lista de direcciones -->
                            {% for de in management_activate_list %}
                                <tr>
                                    <td>{{ de.management_name }}</td>
                                    <td>{{ de.management_in_charge }}</td>
                                    <td>{{ de.management_in_charge_mail }}</td>
                                    <td class="text-end " style="white-space: nowrap;">
                                        
                                        <a href="{% url 'management_edit' de.id%}" title="Editar"   class="btn btn-sm btn-primary me-2 mb-2 mb-sm-0 w-sm-auto btn-editar" >
                                            <i class="fas fa-edit me-1"></i> 
                                        </a>
                                        <button class="btn btn-sm btn-danger me-2 mb-2 mb-sm-0 d-sm-inline-block w-sm-auto btn-desactivar"   onclick="mostrarModal(this)"
                                            data-element-id="{{ de.id }}" title="Bloquear">
                                            <i class="fas fa-lock me-1"></i> 
                                        </button>
                                        
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Paginación -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end mt-3">
                                    {% if management_activate_list.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1" aria-label="First">
                                                <span aria-hidden="true">&laquo;&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ management_activate_list.previous_page_number }}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item disabled">
                                        <span class="page-link">
                                            Página {{ management_activate_list.number }} de {{ management_activate_list.paginator.num_pages }}.
                                        </span>
                                    </li>

                                    {% if management_activate_list.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ management_activate_list.next_page_number }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ management_activate_list.paginator.num_pages }}" aria-label="Last">
                                                <span aria-hidden="true">&raquo;&raquo;</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Advertencia -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Dirección</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p>¿Desea desactivar esta Dirección?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="blockButton" type="button" class="btn btn-danger" onclick="#">Desactivar</a>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Llamada del footer -->
{% include 'core/footer.html' %}
<script>// Define la URL
    var baseUrl = '{% url "management_block" 0 %}';
</script>

<script src="{% static '/registration/js/activate.js' %}"></script>
{% endblock %}